{% extends 'base.html.twig' %}

{% block title %}GUESTBOOK
{% endblock %}

{% block body %}
	<div class="container">
		{% for  conference in conferences %}

			<div class="example-wrapper">
				<h4 class="title-conf">Conference:
					{{conference}}</h4>

				<button class="btn btn-secondary">
					<a href="{{ path('conference', { slug: conference.slug }) }}" class="lien">Details</a>
				</button>


			</div>
		{% endfor %}
	</div>


{% endblock %}
