{% extends 'base.html.twig' %}

{% block title %}GUESTBOOK
{% endblock %}

{% block body %}
	{% for  conference in conferences %}

		<div class="example-wrapper">
			<h4>Conference:{{conference}}</h4>
			<p>
				<a href="{{ path('conference', { id: conference.id }) }}">Details</a>
			</p>

		</div>
	{% endfor %}
{% endblock %}
